body {
    background-color: #ffffff;
}

.head {
    background-color: rgb(46, 46, 46);
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.mainTitle {
    color: white;
}

.searchForm {
    background-color:#f8f8ff;
    width: 30%;
}

.search {
    padding-top: 10px;
    padding-left: 10px;
}