body {
    background-color: #ffffff;
}

.head {
    background-color: rgb(46, 46, 46);
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.mainTitle {
    color: white;
}


.search {
    background-color:#FFFAFA;
    width: 30%;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
}

.searchButton {
    background-color: dodgerblue;
    color: white;
    border-radius: 5px;
    border-color: dodgerblue;
}